@charset "utf-8";

/* 스킵 네비게이션 */
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff;
background: #333; line-height: 30px; width: 140px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#wrap {}
#header {height: 325px; background-color: #111;}
#contents {height: 800px; background-color: #222;}
#footer {height: 200px; background-color: #333;}


/* 컨텐츠 레이아웃 */
#cont_nav {height: 200px; background-color: #333;}
#cont_title {height: 200px; background-color: #444;}
#cont_banner {height: 200px; background-color: #555;}
#cont_content {height: 200px; background-color: #666;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background-color: rgba(255, 255, 255, 0.3);}